:root {
    --cor-do-fundo: #ff8c00;
    --branco-principal: #ffffff;
}
body {
    background-color: var(--cor-do-fundo);
    color: var(--branco-principal)
}

*{
    margin: 0;
    padding: 0;
}

img{
   width: 50px;
}

.principal {
    margin: 10%;
    padding:auto;
}

.container{
    height: 100vh;
}

.contato {
    text-align: right;
    color: #000000;
}

