:root {
    --cor-do-fundo: #ff8c00;
    --branco-principal: #ffffff;
}
body {
    background-color: var(--cor-do-fundo);
    color: var(--branco-principal)
}

*{
    margin: 0;
    padding: 0;
}

.texto-inicial {
    text-align: center;
    margin: 20px;
    color: #000000;
}

div {
   display: inline-flex;
   margin: 50px;
   font-style: oblique;
}

.cabecalho {
    margin: 20px;
    text-align: right;
    color: #000000;
}

.logo {
   width: 100px;
   height: 100px;
   margin: 0px;
}

.word {
    font-size: larger;
    margin: 50px;
    padding: 0px;
    word-break:auto;
    font-size: initial;
    color: #000000;
}

.whats {
    width: 30px;
    height: 30px;
    margin: 0px;
    text-align: center;
}

.contatos{
    margin: 0px;
    height: 100px;
    color: #000000;
    font-size: 20px;
}

.zap {
    display: flex;
    margin: right;
}

 

